---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/275?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8d0207971eeea0f51591d02bcb121b9b
      X-Memc-Age:
      - '5812'
      X-Memc-Expires:
      - '19502'
      Etag:
      - W/"f53ff8b613ae58bacfa4cac7ffa7f432"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/747dgDfL5d8esobk7h4odaOFhUq.jpg","belongs_to_collection":null,"budget":7000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"}],"homepage":"","id":275,"imdb_id":"tt0116282","original_language":"en","original_title":"Fargo","overview":"Jerry,
        a small-town Minnesota car salesman is bursting at the seams with debt...
        but he''s got a plan. He''s going to hire two thugs to kidnap his wife in
        a scheme to collect a hefty ransom from his wealthy father-in-law. It''s going
        to be a snap and nobody''s going to get hurt... until people start dying.
        Enter Police Chief Marge, a coffee-drinking, parka-wearing - and extremely
        pregnant - investigator who''ll stop at nothing to get her man. And if you
        think her small-time investigative skills will give the crooks a run for their
        ransom... you betcha!","popularity":17.646,"poster_path":"/rt7cpEr1uP6RTZykBFhBTcRaKvG.jpg","production_companies":[{"id":1382,"logo_path":"/sOg7LGESPH5vCTOIdbMhLuypoLL.png","name":"PolyGram
        Filmed Entertainment","origin_country":"US"},{"id":10163,"logo_path":"/16KWBMmfPX0aJzDExDrPxSLj0Pg.png","name":"Working
        Title Films","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1996-03-08","revenue":60611975,"runtime":98,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        lot can happen in the middle of nowhere.","title":"Fargo","video":false,"vote_average":7.869,"vote_count":7048}'
  recorded_at: Mon, 22 May 2023 17:26:21 GMT
recorded_with: VCR 6.1.0
